body, html {
  height: 100%;
}
.nav-item{
  padding: 5px 25px;
}
.nav-link{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.nav-link:hover{
  text-decoration: none;
  color: #00CDE1;
  font-weight: bold;
}
.nav-link:active{
  text-decoration: none;
  color: #00CDE1;
  font-weight: bold;
}
.parallax {
  /* The image used */
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)),
    url('https://miro.medium.com/max/4000/1*Qmg1DcvQhMR4EvpwR7uSqg.jpeg');
  /*background-image: url('https://miro.medium.com/max/4000/1*Qmg1DcvQhMR4EvpwR7uSqg.jpeg');

  /* Full height */
  height: 100%; 
  /*background: rgba(0,0,0,0.03);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  font-family: 'Asap Condensed';
  transform: translate(-50%, -50%);
}
#main-title{
  font-size:5vw;
  color : white;
}
.sub-title{
  font-size:2vw;
  color : grey;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: white;
  font-family: Asap Condensed, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;

}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 4vmin;
  padding: 1vmin 15vmin;
  position: absolute;
}
.animated-title > div div span {
  display: block;
  text-align: center;
}
.animated-title > div.text-top {
  border-bottom: 0.5vmin solid #222;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: grey;
}

.animated-title > div.text-bottom {
  bottom: 0;
  color: grey;
  text-align: center;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
#name{
  font-size: 10vmin;
}
#about{
  background-color: #2B2B2B;
  background-position: fixed;
  background-size: cover;
  padding-bottom: 5%;
}
.tag{
  padding-top: 5%;
  color: #F06000;
  font-size: 1.6rem;
  letter-spacing: .4rem;
  text-align: center;
}
.page-title{
  font-family: 'Asap Condensed';
  font-size:3.6rem;
  color : white;
  text-align: center;
}
.content{
  color: grey;
  font-size: 1.3rem;
}
#education .page-title{
  color: black;

}
#education{
  padding-bottom: 5%;
}
.year{
  color: grey;
}
#projects{
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)),
  url(https://wallup.net/wp-content/uploads/2016/01/226635-mathematics-equations-science-3D-748x468.jpg);
}
